<% include partials/header %>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <h1 style="font-size: 5rem;"><i class="fas fa-exclamation-circle"></i> Something went wrong</h1>
            <p class="lead pt-4">This was not supposed to happen. Please try again what you were doing after sometime.</p>
            </div>
            <div class="col-md-6">
                <img src="/imgs/error.jpg" alt="" style="max-width: 100%; max-height: 100%;">
            </div>
    </div>
    
    
</div>
<% include partials/footer%>