<% include partials/header %>
<style>
.jumbotron {
  background-image: url("/imgs/coursepal_bg.jpg");
  background-size: cover;
  height: 100vh;
  border-radius: 0 !important;
}
#detail {
    background: linear-gradient(-45deg,#EC5252 0%,#6E1A52 100%);
}
#personal{
    background: #29303b;
}
</style>
<div>
    <div class="jumbotron text-light pb-0 mb-0">
        <div class="col-md-8"></div>
        <div class="col-md-4">
            <h1 class="mt-5">Learn at your own pace</h1>
            <br>
            <p>Learn from a wide range of courses. </p>
            <h5 class="mt-3"><i class="fas fa-project-diagram mr-3"></i> Complete industry-level projects</h5>
            <h5 class="mt-3 "><i class="fas fa-stamp  mr-3"></i> Get certified</h5>
            <h5 class="mt-3 "><i class="fas fa-history mr-3"></i> Learn at your pace</h5>
            
            <p class="lead ">
              <a class="btn btn-primary btn-lg mt-3" href="/courses" role="button">Find courses</a>
            </p>
        </div>
      </div>
    <div class="text-light" id="detail">
        <div class="container py-4 ">
            <div class="row justify-content-between">
                <h5 class="pt-2 col-3"><i class="fas fa-video mr-3"></i>100,000+ hrs of video courses</h5>
                <h5 class="pt-2 col-3"><i class="fas fa-user-check mr-3"></i>Expert verified courses</h5>
                <h5 class="pt-2 col-3"><i class="fas fa-download mr-3"></i>Download and learn on the go</h5>
            </div>
        </div>
    </div>
    <div class="py-5">
        <div class="container">
            <h4 class="pb-3">What students say about us-</h4>
            <blockquote class="blockquote">
                <p class="mb-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat veniam illo eius doloribus velit dolor voluptatibus perferendis reprehenderit, vero eveniet perspiciatis consequatur animi iure deserunt facere totam, impedit neque, reiciendis non! Eum, provident numquam!</p>
                <footer class="blockquote-footer text-right"><cite title="Source Title">Sallie Little</cite></footer>
              </blockquote>
              <blockquote class="blockquote">
                <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus praesentium quidem minima ipsum ipsa repellat odio consequatur quis, harum commodi.</p>
                <footer class="blockquote-footer text-right"><cite title="Source Title">Ofelia McGlynn</cite></footer>
              </blockquote>
              <blockquote class="blockquote">
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium suscipit, molestias temporibus, ab cupiditate saepe quas inventore blanditiis animi omnis, dolorum nulla dignissimos. Eveniet molestias in veniam rerum neque dignissimos dolorem quia rem, ratione nam impedit nobis ipsum!.</p>
                <footer class="blockquote-footer text-right"><cite title="Source Title">Miguel Marks Jr.</cite></footer>
              </blockquote>
        </div>
    </div>
    <div id="personal">
        <div class="text-center text-light py-5">
            <h5 class="py-3">Get Started today by creating an account.</h5>
            <a class="btn btn-primary" href="/student/signup">Signup as Student</a>
        </div>
    </div>
</div>

<% include partials/footer%>