<% include partials/header %>
<div class="container">
    <% if(flash) { %>
        <% if(flash === 'email') {%>
            <div class="alert alert-warning alert-dismissible fade show mt-2" role="alert">
                <strong>Email not found</strong> Please make sure that you have entered correct email. If you dont have account, you can create one at <a href="/teacher/signup" class="alert-link">Signup</a>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
        <%}%>
        <% if(flash === 'password') {%>
            <div class="alert alert-warning alert-dismissible fade show mt-2" role="alert">
                <strong>Password is incorrect</strong> The password you have entered do not match with the email you have entered. Please enter again.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
        <%}%>
    <%}%>

    <div class="row justify-content-around">
        <div class="col-md-5">
            <br><br>
            <h1 class="pb-2">Sign In</h1>
            <p class="pb-4">Please Enter the following details to continue. Don't have an account? <a href="/teacher/signup">SignUp</a></p>

            <form action="/teacher/login" method="POST">
                <label class="sr-only" for="email">Email Address</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-at"></i></div>
                    </div>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" required>
                </div>
                <label class="sr-only" for="password">Password</label>
                <div class="input-group py-4">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-key"></i></div>
                        </div>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                    </div>
                <button class="btn btn-md btn-outline-success px-auto" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>

<% include partials/footer%></br>