<% include ./partials/header %>
<div class="container">
    <% if(flash) { %>
        <% if(flash === 'email') {%>
            <div class="alert alert-warning alert-dismissible fade show mt-2" role="alert">
                <strong>Email Already Taken</strong> An account already exists with the email you have entered. Please enter different email, or you can login <a href="/teacher/login" class="alert-link">here</a>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
        <%}%>
    <%}%>

    <div class="row justify-content-around">
        <div class="col-md-5">
            <br><br>
            <h1 class="pb-2">Create New Account </h1>
            <p>Please enter the following information for us to create your account.</p>
            <p class="pb-2">Don't worry it would take a minute to fill the boxes.</p>
            <hr color="lightgray">
            <form action="/teacher/signup" method="POST">
                <label for="name">What should we call you?</label>
                <div class="input-group pb-4">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-user-tie"></i></div>
                    </div>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Name" required>
                </div>
                <label for="email">Where can we reach you?</label>
                <div class="input-group pb-4">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-at"></i></div>
                    </div>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" required>
                </div>
                <label for="password">Password</label>
                <div class="input-group pb-4">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-key"></i></div>
                        </div>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                    </div>
                <label for="name">Choose an avatar URL</label>
                <div class="input-group pb-4">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-user-circle"></i></div>
                    </div>
                    <input type="text" class="form-control" name="avatarUrl" id="avatarUrl" placeholder="Paste your avatar URL here" required>
                </div>
                <label for="website">Your Website</label>
                <div class="input-group pb-4">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-globe-americas"></i></div>
                    </div>
                    <input type="text" class="form-control" name="website" id="website" placeholder="Website" required>
                </div>
                <label for="name">Describe yourself</label>
                <div class="input-group pb-4">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-address-card"></i></div>
                    </div>
                    <textarea  class="form-control" name="about" id="about" placeholder="Describe yourself in about 20 words" required></textarea>
                </div>
                <button class="btn btn-md btn-outline-success px-auto" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
<% include ./partials/footer %>
