<% include partials/header %>
<style>
    .jumbotron {
      background-image: url("/imgs/teacher_-bg.jpg");
      background-size: cover;
      height: 100vh;
      border-radius: 0 !important;
    }
    #detail {
    background: linear-gradient(-45deg,#6E1A52 0%,#6E1A52 100%);
}
</style>
<div>
    <div class="jumbotron text-light pb-0 mb-0">
        <div class="col-md-8"></div>
        <div class="col-md-4">
            <h1 class="mt-5">Make a Change</h1>
            <br>
            <p>Teach students from your home and earn money </p>
            <h5 class="mt-3"><i class="fas fa-upload mr-3"></i> Upload Videos from your home</h5>
            <h5 class="mt-3 "><i class="fas fa-lightbulb  mr-3"></i> Inspire Students</h5>
            <h5 class="mt-3 "><i class="fas fa-money-check-alt mr-3"></i> Earn monthly</h5>
            
            <p class="lead ">
              <a class="btn btn-primary btn-lg mt-3" href="/teacher/signup" role="button">Become an instructor</a>
            </p>
        </div>
        </div>
    </div>
    <div class="text-light py-3" id="detail">
        <div class="container py-4 ">
            <div class="text-center">
                <h3>Exceptional Opportunities</h3>
                <hr class="my-3" width="15%" color="white">
            </div>
            <div class="row justify-content-between mt-5">
                <h5 class="pt-2 col-md-2 "><span class="display-4">10m+</span> Students</h5>
                <h5 class="pt-2 col-md-2 "><span class="display-4">50+</span> Languages</h5>
                <h5 class="pt-2 col-md-2 "><span class="display-4">100m+</span> Enrollments</h5>
                <h5 class="pt-2 col-md-2 "><span class="display-4">50K</span> Instructors</h5>
            </div>
        </div>
    </div>
    <div class="mt-3">
        <div class="container py-4">
            <div class="text-center">
                <h2>Plan your success</h2>
            </div>
        </div>
    </div>
</div>    
<% include partials/footer%>