<% include partials/header %>
<style>
    .jumbotron {
      background-image: url("/imgs/teacher_-bg.jpg");
      background-size: cover;
      height: 100vh;
      border-radius: 0 !important;
    }
    #detail {
    background: linear-gradient(-45deg,#6E1A52 0%,#6E1A52 100%);
}
#reviews{
    background: #EC5252;
}
#personal{
    background: #29303b;
}
</style>
<div>
    <div class="jumbotron text-light pb-0 mb-0">
        <div class="col-md-8"></div>
        <div class="col-md-4">
            <h1 class="mt-5">Make a Change</h1>
            <br>
            <p>Teach students from your home and earn money </p>
            <h5 class="mt-3"><i class="fas fa-upload mr-3"></i> Upload Videos from your home</h5>
            <h5 class="mt-3 "><i class="fas fa-lightbulb  mr-3"></i> Inspire Students</h5>
            <h5 class="mt-3 "><i class="fas fa-money-check-alt mr-3"></i> Earn monthly</h5>
            
            <p class="lead ">
              <a class="btn btn-primary btn-lg mt-3" href="/teacher/signup" role="button">Become an instructor</a>
            </p>
        </div>
        </div>
    </div>
    <div class="text-light py-3" id="detail">
        <div class="container py-4 ">
            <div class="text-center">
                <h3>Exceptional Opportunities</h3>
                <hr class="my-3" width="15%" color="white">
            </div>
            <div class="row justify-content-between mt-5">
                <h5 class="pt-2 col-md-2 "><span class="display-4">10m+</span> Students</h5>
                <h5 class="pt-2 col-md-2 "><span class="display-4">50+</span> Languages</h5>
                <h5 class="pt-2 col-md-2 "><span class="display-4">100m+</span> Enrollments</h5>
                <h5 class="pt-2 col-md-2 "><span class="display-4">50K</span> Instructors</h5>
            </div>
        </div>
    </div>
    <div class="mt-3">
        <div class="container py-4">
            <div class="text-center col-12">
                <h2>Plan your success</h2>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-between">
            <div class="col-md-3 mt-5">
                <h5 class="mb-5"><i class="fas fa-code-branch pr-4"></i> Plan your course</h5>
                <p>You start with your passion and knowledge. Then choose a topic and plan your lectures in Google Docs, Microsoft Excel, or your favorite notebook.</p>
                <p>How we help you</p>
                <p>We offer free courses on how to build your own course, complete with worksheets and real-world examples. Plus, our instructor dashboard and curriculum pages help keep you on track.</p>
            </div>
            <div class="col-md-3 mt-5">
                <h5 class="mb-5"><i class="fas fa-video pr-4"></i> Record your video</h5>
                <p>Got a smartphone or a DSLR? Add a microphone and you’re ready to film your first course from your home or wherever you happen to be.</p>
                <p>How we help you</p>
                <p>Our support team is available to help and offers free review of your videos. And our online instructor community is here to offer advice and inspiration.</p>
            </div>
            <div class="col-md-3 mt-5">
                <h5 class="mb-4"><i class="fas fa-american-sign-language-interpreting pr-4"></i> Build your Community</h5>
                <p>Reach out</p><p>
                    Create quizzes, exercises, and assignments to build interactivity. Write welcome messages for your students and answer their questions. Because Udemy students don’t just watch, they do.</p>
                <p>How we help you</p>
                <p>We provide all the tools for messaging, Q&As, course announcements, and quizzes, all in one one place.</p>
            </div>
        </div>
        </div>
    </div>
    <div class="pt-3" id="reviews">
        <div class="container text-light pt-4">
            <h4 class="pb-4">What others have to say:</h4>
            <blockquote class="blockquote container">
                <p class="mb-0">Launching my first course    allowed me to quit my full-time job and start my own company. I went from working 60+ hour weeks to setting my own hours and schedule.</p>
                <footer class="blockquote-footer text-right"><cite title="Source Title" class="text-light">Colt Steele</cite></footer>
              </blockquote>
              <blockquote class="blockquote container mt-4">
                <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore ratione, corporis eos error nam ipsa nostrum dolores necessitatibus officia doloremque nisi dicta expedita nihil in labore perspiciatis, dignissimos nulla facere. Iusto quaerat earum totam.</p>
                <footer class="blockquote-footer text-right"><cite title="Source Title" class="text-light">Destini Hoppe</cite></footer>
              </blockquote>
              <blockquote class="blockquote container mt-4 mb-0 pb-5">
                <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore ratione, corporis eos error nam ipsa nostrum Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, optio?</p>
                <footer class="blockquote-footer text-right"><cite title="Source Title" class="text-light">Leonardo Schuster</cite></footer>
              </blockquote>
        </div>
    </div>
    <div id="personal">
        <div class="text-center text-light py-5">
            <h5 class="py-3">Get Started today by creating an account.</h5>
            <a class="btn btn-primary" href="/teacher/signup">Signup as Instructor</a>
        </div>
    </div>
</div>    
<% include partials/footer%>