<% include partials/header %>

<div class="container mx-auto">
    <img src="/imgs/unauth.jpg" class="rounded mx-auto d-block">
    <h4 class="text-center">Seems like you dont have permission to proceed forward</h4>
    <h6 class="text-center">Identify yourself as either <a href="/teacher/login">Teacher</a> or <a href="/student/login">Student</a></h6>
</div>

<% include partials/footer%>